//////////////////////
// Default Button
//////////////////////
.button {
	@include button();
	@include border-radius(5px);
	text-transform: uppercase;
	font-weight: 600;
}


//////////////////////
// Gradient Button
//////////////////////
@mixin gradient-button($colorBorder, $colorL, $colorR) {
    @include linear-gradient($colorL, $colorR);
    border: 1px solid $colorBorder;
	border-radius: 2rem !important;
	text-transform: uppercase;
}

.gradient-button {
	@include button();
	@include gradient-button(rgb(29, 53, 100), rgb(30, 70, 131), rgb(31, 36, 74));

	&:hover {
		text-decoration: underline;
	}
}

.gradient-button-light {
	@include button();
	@include gradient-button(#144666, #1e8252, #144666);

	&:hover {
		text-decoration: underline;
	}
}