/* ==========================================================================
   Covenant Eyes Colors
   ========================================================================== */

/*
 * Custom Color Variables
 * 
 * Our global colors that have been selected from our brand standards
 * group. 
 * 
 */

/* Global Colors */
$white: #fff;
$black: #000;
$dark: #222;

/* Blues */
$blue: #0175bb;
$blue-dark-15: darken($blue, 15);
$blue-light-10: lighten($blue, 10);
$blue-light-30: lighten($blue, 30);
$blue-light-40: lighten($blue, 40);
$blue-light-50: lighten($blue, 50);
$blue-light-58: lighten($blue, 58);

/* Grays */
$gray: #707070;
$gray-dark-20: darken($gray, 20);
$gray-dark-10: darken($gray, 10);
$gray-light-15: lighten($gray, 15);
$gray-light-30: lighten($gray, 30);
$gray-light-40: lighten($gray, 40);
$gray-light-50: lighten($gray, 50);

/* Oranges */
$orange: #f07b0a;
$orange-dark-7: saturate(darken($orange, 7), 8);
$orange-light-15: lighten($orange, 15);
$orange-light-30: lighten($orange, 30);
$orange-light-45: lighten($orange, 45);

/* Teals */
$teal: #0aa9c2;
$teal-dark-7: darken($teal, 7);
$teal-light-9: lighten($teal, 9);
$teal-light-32: lighten($teal, 32);
$teal-light-50: lighten($teal, 50);

/* Greens */
$green: #3f9c46;
$green-dark-7: darken($green, 7);
$green-light-15: lighten($green, 15);
$green-light-30: lighten($green, 30);
$green-light-45: lighten($green, 45);

/* Reds */
$red: #de0d0f;
$red-dark-7: darken($red, 7);
$red-light-15: lighten($red, 15);
$red-light-25: lighten($red, 25);
$red-light-45: lighten($red, 45);

/* Purple */
$purple: #9600b4;

///////////////////////
/* New Colors */
///////////////////////
$blue-gray: #405b6a;
$blue-gray-lighter: #e9eef0;
$blue-gray-light: #b9ccd5;
$blue-gray-dark: #2c3e48;
$warm-gray-light: #F4F3F3;
$new-blue: #0091d1;
$new-blue-light: #c5e6f7;

$medium-gray: #4a4a4a;

.blue-text {
    color: $new-blue;
}
.blue-text-bold {
    color: $new-blue !important;
    font-weight: 600;
}
///////////////////////
/* END New Colors */
///////////////////////

/* Main Site Colors */
$primary-color: $new-blue;
$secondary-color: $gray;
$tertiary-color: $green;

/* Button Colors */
$button-gray: #ededed;
$button-orange: #e88424;
$button-green: #3f9c46;
$button-blue: #add7f2;
$button-light-blue: #084770;

// Logo Colors =================================================================
//   These colors aren't in our brand standards and are specific to our logo.
//   Use only on the web.
//==============================================================================
$logo-blue-text: #156fb8;
$logo-dark-blue: #014c9a;
$logo-light-blue: #1787c8;
$logo-darker-blue: #002a5b;

/* Social Media Colors */
$youtube: #c1110a;
$vimeo: #2ab7e7;
$googleplus: #dd4b39;
$twitter: #00cefd;
$facebook: #48649f;
$pinterest: #cb2027;
$getsat: #771c7c;



.main-bg-blue {
    background: $blue;
    color: $white;

    blockquote {
        color: inherit;
    }
}



.color-blue {
    color: $blue;
}

.color-dk-blue {
    color: $blue-dark-15;
}

.color-light-blue {
    color: $blue-light-58;
}

.color-med-blue {
    color: $blue-light-40;
}

.color-gray {
    color: $gray-light-30 !important;
}

.color-md-gray {
    color: $gray !important;
}

.color-dk-gray {
    color: $gray-dark-20 !important;
}

.color-dk-green {
    color: $green-dark-7;
}

.color-dk-orange {
    color: $orange-dark-7;
}

.color-dk-teal {
    color: $teal-dark-7;
}

.color-light-teal {
    color: $teal-light-32;
}

.color-dk-red {
    color: $red-dark-7;
}

.color-green {
    color: $green;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}