.header {
	padding: 1.5rem 0;

	.logo {
		max-width: 15rem;
	}

	.top-bar-left {
		flex: 0 1 auto;
	}

	.top-bar-right {
		flex: 2 1 auto;
	}

	.menu.medium-horizontal {
		@include breakpoint(large) {
			justify-content: center;
		}
	}

	.dropdown.menu a {
		text-transform: uppercase;
		border-bottom: $transparent-border-2;
		font-size: 0.8125rem;
		padding: 1rem 0.7rem;

		&:hover:not(.gradient-button) {
			border-bottom: $blue-border-2;
		}
	}

	.dropdown.menu a.gradient-button {
		padding: $button-padding !important;

		&:hover {
			text-decoration: underline;
		}

		.svg {
			float: left;
			margin-right: 6px;
    		margin-top: -2px;
		}
	}
}