//==============================================================================
// Fonts and Typography
//==============================================================================
// Roboto Slab =================================================================
//==============================================================================
@font-face {
    font-family: 'roboto_slab';
    src: url("../fonts/roboto_slab/RobotoSlab-Regular-webfont.eot");
    src: url("../fonts/roboto_slab/RobotoSlab-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto_slab/RobotoSlab-Regular-webfont.woff") format("woff"),
         url("../fonts/roboto_slab/RobotoSlab-Regular-webfont.ttf") format("truetype"),
         url("../fonts/roboto_slab/RobotoSlab-Regular-webfont.svg#roboto_slabregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

// CE Icons ====================================================================
//   Contains other useful icons
//==============================================================================
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/ce/icomoon.eot?azt9de');
    src:  url('../fonts/ce/icomoon.eot?azt9de#iefix') format('embedded-opentype'),
    url('../fonts/ce/icomoon.ttf?azt9de') format('truetype'),
    url('../fonts/ce/icomoon.woff?azt9de') format('woff'),
    url('../fonts/ce/icomoon.svg?azt9de#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.large-icon {
    font-size: rem-calc(100);
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-devices, .icon-report, .icon-conversation, .icon-family-small, .icon-group-small, .icon-couple2, .icon-home, .icon-office, .icon-newspaper, .icon-pencil, .icon-pencil-2, .icon-image, .icon-images, .icon-images-2, .icon-camera, .icon-music, .icon-music-2, .icon-music-3, .icon-headphones, .icon-film, .icon-camera-2, .icon-gamepad, .icon-bullhorn, .icon-new, .icon-connection, .icon-mic, .icon-mic-2, .icon-radio, .icon-book, .icon-book-2, .icon-books, .icon-reading, .icon-library, .icon-graduation, .icon-file, .icon-copy, .icon-stack, .icon-folder-upload, .icon-folder-download, .icon-folder, .icon-folder-plus, .icon-folder-minus, .icon-folder8, .icon-folder-remove, .icon-cc, .icon-tag, .icon-tag-2, .icon-qrcode, .icon-cart, .icon-credit, .icon-credit-2, .icon-calculate, .icon-support, .icon-phone, .icon-address-book, .icon-envelop, .icon-envelop-opened, .icon-location, .icon-compass, .icon-map, .icon-map-2, .icon-clock, .icon-bell, .icon-alarm-plus, .icon-alarm-minus, .icon-alarm-check, .icon-alarm-cancel, .icon-stopwatch, .icon-print, .icon-mouse, .icon-keyboard, .icon-tablet, .icon-tv, .icon-disk, .icon-cd, .icon-storage, .icon-database, .icon-database-2, .icon-user, .icon-user-2, .icon-quotes-left, .icon-quotes-right, .icon-vcard, .icon-busy, .icon-spinner, .icon-binoculars, .icon-search, .icon-expand, .icon-contract, .icon-key, .icon-key-2, .icon-wrench, .icon-wrench-2, .icon-settings, .icon-equalizer, .icon-cog, .icon-cogs, .icon-wand, .icon-health, .icon-aid, .icon-stats-down, .icon-stats-up, .icon-gift, .icon-gift-2, .icon-medal, .icon-trophy, .icon-meter, .icon-meter-slow, .icon-meter-fast, .icon-bomb, .icon-fire, .icon-atom, .icon-lamp, .icon-skull, .icon-remove, .icon-briefcase, .icon-paper-plane, .icon-puzzle, .icon-puzzle-2, .icon-accessibility, .icon-brain, .icon-target, .icon-shield, .icon-switch, .icon-power-cord, .icon-lightning, .icon-clipboard, .icon-clipboard-2, .icon-list, .icon-list-2, .icon-list-3, .icon-numbered-list, .icon-grid, .icon-tree, .icon-tree-2, .icon-menu, .icon-menu-2, .icon-cloud, .icon-cloud-2, .icon-cloud-download, .icon-cloud-upload, .icon-download, .icon-upload, .icon-earth, .icon-globe, .icon-link, .icon-link-2, .icon-network, .icon-anchor, .icon-attachment, .icon-flag, .icon-eye, .icon-eye-blocked, .icon-bookmark, .icon-bookmark-2, .icon-bookmarks, .icon-bookmark-3, .icon-starburst, .icon-temperature, .icon-sun, .icon-heart-broken, .icon-heart, .icon-heart-2, .icon-bed, .icon-star, .icon-star-2, .icon-star-3, .icon-cursor, .icon-cursor-2, .icon-stack-empty, .icon-stack-plus, .icon-stack-minus, .icon-stack-user, .icon-warning, .icon-warning-2, .icon-plus-circle, .icon-minus-circle, .icon-minus-circle-2, .icon-plus-circle-2, .icon-blocked, .icon-info, .icon-checkmark, .icon-checkmark-2, .icon-minus, .icon-plus, .icon-enter, .icon-exit, .icon-cancel-circle, .icon-cancel-circle-2, .icon-play, .icon-pause, .icon-stop, .icon-backward, .icon-forward, .icon-play-2, .icon-eject, .icon-volume-high, .icon-volume-medium, .icon-volume-low, .icon-volume-mute, .icon-loop, .icon-arrow-up, .icon-arrow-right, .icon-arrow-down, .icon-arrow-left, .icon-arrow-up-2, .icon-arrow-right-2, .icon-arrow-down-2, .icon-arrow-left-2, .icon-arrow-up-3, .icon-arrow-right-3, .icon-arrow-down-3, .icon-arrow-left-3, .icon-menu-3, .icon-backspace, .icon-backspace-2, .icon-command, .icon-checkbox-unchecked, .icon-checkbox-checked, .icon-scissors, .icon-code, .icon-console, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-instagram, .icon-twitter-2, .icon-google-plus-2, .icon-vimeo2, .icon-vimeo, .icon-feed, .icon-feed-2, .icon-flickr, .icon-flickr-2, .icon-github, .icon-github-2, .icon-github-3, .icon-github-4, .icon-apple, .icon-finder, .icon-android, .icon-windows, .icon-windows8, .icon-soundcloud, .icon-soundcloud-2, .icon-pinterest, .icon-linkedin, .icon-paypal, .icon-css3, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-html5, .icon-html5-2, .icon-paypal-2, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-file-xml, .icon-file-css, .icon-number, .icon-number-2, .icon-number-3, .icon-number-4, .icon-number-5, .icon-number-6, .icon-number-7, .icon-number-8, .icon-number-9, .icon-number-10, .icon-number-11, .icon-number-12, .icon-number-13, .icon-number-14, .icon-number-15, .icon-number-16, .icon-number-17, .icon-number-18, .icon-number-19, .icon-number-20, .icon-calendar, .icon-alarm-clock, .icon-chronometer, .icon-headphones-2, .icon-quote, .icon-quote-2, .icon-tools, .icon-retweet, .icon-safe, .icon-cw, .icon-ccw, .icon-cycle, .icon-evernote, .icon-bar-chart, .icon-thumbs-up, .icon-thumbs-down, .icon-facebook-2, .icon-calendar-empty, .icon-trello, .icon-moon, .icon-sun-2, .icon-rocket, .icon-chart, .icon-desktop, .icon-multi-iphone-portrait, .icon-multi-iphone-landscape, .icon-multi-ipad-portrait, .icon-multi-ipad-landscape, .icon-lock-side, .icon-lock-open, .icon-lock-closed, .icon-iphone-portrait, .icon-iphone-landscape, .icon-ipad-portrait, .icon-ipad-landscape, .icon-girl-figure, .icon-man-figure, .icon-checklist-check, .icon-filter-shield, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-bubble-notification, .icon-wordpress, .icon-wordpress-2, .icon-skype, .icon-user-cancel, .icon-user-minus, .icon-user-plus, .icon-users, .icon-user-3, .icon-user-block, .icon-youtube1, .icon-youtube2, .icon-user-4, .icon-family, .icon-group, .icon-user2-plus, .icon-arrow-down-left, .icon-arrow-down-right, .icon-arrow-down2, .icon-arrow-right2, .icon-arrow-up-left, .icon-arrow-up-left2, .icon-arrow-up-right, .icon-arrow-up2, .icon-arrow-left2, .icon-checklist-rsl, .icon-coin-dollar, .icon-share2, .icon-mail {
    font-family: $body-font-family;
    &:before {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    span {
        font-family: $body-font-family;
    }
}

.icon-devices:before {
    content: "\e901";
}

.icon-report:before {
    content: "\e902";
}

.icon-conversation:before {
    content: "\e900";
}

.icon-family-small:before {
    content: "\e674";
}

.icon-family:before {
    content: "\e755";
}

.icon-group-small:before {
    content: "\e69e";
}

.icon-group:before {
    content: "\e754";
}

.icon-checklist-rsl:before {
    content: "\e600";
}

.icon-couple2:before {
    content: "\e758";
}

.icon-couple:before {
    content: "\e601";
}

.icon-day:before {
    content: "\e602";
}

.icon-accessibility:before {
    content: "\e603";
}

.icon-address-book:before {
    content: "\e604";
}

.icon-aid:before {
    content: "\e605";
}

.icon-alarm-cancel:before {
    content: "\e606";
}

.icon-alarm-check:before {
    content: "\e607";
}

.icon-alarm-clock:before {
    content: "\e608";
}

.icon-alarm-minus:before {
    content: "\e609";
}

.icon-alarm-plus:before {
    content: "\e60a";
}

.icon-anchor:before {
    content: "\e60b";
}

.icon-android:before {
    content: "\e60c";
}

.icon-apple:before {
    content: "\e60d";
}

.icon-arrow-down:before {
    content: "\e60e";
}

.icon-arrow-down-2:before {
    content: "\e60f";
}

.icon-arrow-down-3:before {
    content: "\e610";
}

.icon-arrow-left:before {
    content: "\e611";
}

.icon-arrow-left-2:before {
    content: "\e612";
}

.icon-arrow-left-3:before {
    content: "\e613";
}

.icon-arrow-right:before {
    content: "\e614";
}

.icon-arrow-right-2:before {
    content: "\e615";
}

.icon-arrow-right-3:before {
    content: "\e616";
}

.icon-arrow-up:before {
    content: "\e617";
}

.icon-arrow-up-2:before {
    content: "\e618";
}

.icon-arrow-up-3:before {
    content: "\e619";
}

.icon-atom:before {
    content: "\e61a";
}

.icon-attachment:before {
    content: "\e61b";
}

.icon-backspace:before {
    content: "\e61c";
}

.icon-backspace-2:before {
    content: "\e61d";
}

.icon-backward:before {
    content: "\e61e";
}

.icon-bar-chart:before {
    content: "\e61f";
}

.icon-bed:before {
    content: "\e620";
}

.icon-bell:before {
    content: "\e621";
}

.icon-binoculars:before {
    content: "\e622";
}

.icon-blocked:before {
    content: "\e623";
}

.icon-bomb:before {
    content: "\e624";
}

.icon-book:before {
    content: "\e625";
}

.icon-book-2:before {
    content: "\e626";
}

.icon-bookmark:before {
    content: "\e627";
}

.icon-bookmark-2:before {
    content: "\e628";
}

.icon-bookmark-3:before {
    content: "\e629";
}

.icon-bookmarks:before {
    content: "\e62a";
}

.icon-books:before {
    content: "\e62b";
}

.icon-brain:before {
    content: "\e62c";
}

.icon-briefcase:before {
    content: "\e62d";
}

.icon-bubble-notification:before {
    content: "\e62e";
}

.icon-bubble:before {
    content: "\e62f";
}

.icon-bubble-2:before {
    content: "\e630";
}

.icon-bubbles:before {
    content: "\e631";
}

.icon-bubbles-2:before {
    content: "\e632";
}

.icon-bubbles-3:before {
    content: "\e633";
}

.icon-bubbles-4:before {
    content: "\e634";
}

.icon-bullhorn:before {
    content: "\e635";
}

.icon-busy:before {
    content: "\e636";
}

.icon-calculate:before {
    content: "\e637";
}

.icon-calendar-empty:before {
    content: "\e638";
}

.icon-calendar:before {
    content: "\e639";
}

.icon-camera:before {
    content: "\e63a";
}

.icon-camera-2:before {
    content: "\e63b";
}

.icon-cancel-circle:before {
    content: "\e63c";
}

.icon-cancel-circle-2:before {
    content: "\e63d";
}

.icon-cart:before {
    content: "\e63e";
}

.icon-cc:before {
    content: "\e63f";
}

.icon-ccw:before {
    content: "\e640";
}

.icon-cd:before {
    content: "\e641";
}

.icon-chart:before {
    content: "\e642";
}

.icon-checkbox-checked:before {
    content: "\e643";
}

.icon-checkbox-unchecked:before {
    content: "\e644";
}

.icon-checklist-check:before {
    content: "\e645";
}

.icon-checkmark:before {
    content: "\e646";
}

.icon-checkmark-2:before {
    content: "\e647";
}

.icon-chrome:before {
    content: "\e648";
}

.icon-chronometer:before {
    content: "\e649";
}

.icon-clipboard:before {
    content: "\e64a";
}

.icon-clipboard-2:before {
    content: "\e64b";
}

.icon-clock:before {
    content: "\e64c";
}

.icon-cloud-download:before {
    content: "\e64d";
}

.icon-cloud-upload:before {
    content: "\e64e";
}

.icon-cloud:before {
    content: "\e64f";
}

.icon-cloud-2:before {
    content: "\e650";
}

.icon-code:before {
    content: "\e651";
}

.icon-cog:before {
    content: "\e652";
}

.icon-cogs:before {
    content: "\e653";
}

.icon-command:before {
    content: "\e654";
}

.icon-compass:before {
    content: "\e655";
}

.icon-connection:before {
    content: "\e656";
}

.icon-console:before {
    content: "\e657";
}

.icon-contract:before {
    content: "\e658";
}

.icon-copy:before {
    content: "\e659";
}

.icon-credit:before {
    content: "\e65a";
}

.icon-credit-2:before {
    content: "\e65b";
}

.icon-cross:before {
    content: "\e65c";
}

.icon-css3:before {
    content: "\e65d";
}

.icon-cursor:before {
    content: "\e65e";
}

.icon-cursor-2:before {
    content: "\e65f";
}

.icon-cw:before {
    content: "\e660";
}

.icon-cycle:before {
    content: "\e661";
}

.icon-database:before {
    content: "\e662";
}

.icon-database-2:before {
    content: "\e663";
}

.icon-desktop:before {
    content: "\e664";
}

.icon-disk:before {
    content: "\e665";
}

.icon-download:before {
    content: "\e666";
}

.icon-earth:before {
    content: "\e667";
}

.icon-eject:before {
    content: "\e668";
}

.icon-enter:before {
    content: "\e669";
}

.icon-envelop-opened:before {
    content: "\e66a";
}

.icon-envelop:before {
    content: "\e66b";
}

.icon-equalizer:before {
    content: "\e66c";
}

.icon-evernote:before {
    content: "\e66d";
}

.icon-exit:before {
    content: "\e66e";
}

.icon-expand:before {
    content: "\e66f";
}

.icon-eye-blocked:before {
    content: "\e670";
}

.icon-eye:before {
    content: "\e671";
}

.icon-facebook:before {
    content: "\e672";
}

.icon-facebook-2:before {
    content: "\e673";
}

.icon-feed:before {
    content: "\e675";
}

.icon-feed-2:before {
    content: "\e676";
}

.icon-file-css:before {
    content: "\e677";
}

.icon-file-excel:before {
    content: "\e678";
}

.icon-file-openoffice:before {
    content: "\e679";
}

.icon-file-pdf:before {
    content: "\e67a";
}

.icon-file-powerpoint:before {
    content: "\e67b";
}

.icon-file-word:before {
    content: "\e67c";
}

.icon-file-xml:before {
    content: "\e67d";
}

.icon-file-zip:before {
    content: "\e67e";
}

.icon-file:before {
    content: "\e67f";
}

.icon-film:before {
    content: "\e680";
}

.icon-filter-shield:before {
    content: "\e681";
}

.icon-finder:before {
    content: "\e682";
}

.icon-fire:before {
    content: "\e683";
}

.icon-firefox:before {
    content: "\e684";
}

.icon-flag:before {
    content: "\e685";
}

.icon-flickr:before {
    content: "\e686";
}

.icon-flickr-2:before {
    content: "\e687";
}

.icon-folder-download:before {
    content: "\e688";
}

.icon-folder-minus:before {
    content: "\e689";
}

.icon-folder-plus:before {
    content: "\e68a";
}

.icon-folder-remove:before {
    content: "\e68b";
}

.icon-folder-upload:before {
    content: "\e68c";
}

.icon-folder:before {
    content: "\e68d";
}

.icon-folder-check:before {
    content: "\e68e";
}

.icon-forward:before {
    content: "\e68f";
}

.icon-gamepad:before {
    content: "\e690";
}

.icon-getsat:before {
    content: "\e691";
}

.icon-gift:before {
    content: "\e692";
}

.icon-gift-2:before {
    content: "\e693";
}

.icon-girl-figure:before {
    content: "\e694";
}

.icon-github:before {
    content: "\e695";
}

.icon-github-2:before {
    content: "\e696";
}

.icon-github-3:before {
    content: "\e697";
}

.icon-github-4:before {
    content: "\e698";
}

.icon-globe:before {
    content: "\e699";
}

.icon-google-plus:before {
    content: "\e69a";
}

.icon-google-plus-2:before {
    content: "\e69b";
}

.icon-graduation:before {
    content: "\e69c";
}

.icon-grid:before {
    content: "\e69d";
}

.icon-headphones:before {
    content: "\e69f";
}

.icon-headphones-2:before {
    content: "\e6a0";
}

.icon-health:before {
    content: "\e6a1";
}

.icon-heart-broken:before {
    content: "\e6a2";
}

.icon-heart:before {
    content: "\e6a3";
}

.icon-heart-2:before {
    content: "\e6a4";
}

.icon-home:before {
    content: "\e6a5";
}

.icon-html5:before {
    content: "\e6a6";
}

.icon-html5-2:before {
    content: "\e6a7";
}

.icon-ie:before {
    content: "\e6a8";
}

.icon-image:before {
    content: "\e6a9";
}

.icon-images:before {
    content: "\e6aa";
}

.icon-images-2:before {
    content: "\e6ab";
}

.icon-info:before {
    content: "\e6ac";
}

.icon-instagram:before {
    content: "\e6ad";
}

.icon-ipad-landscape:before {
    content: "\e6ae";
}

.icon-ipad-portrait:before {
    content: "\e6af";
}

.icon-iphone-landscape:before {
    content: "\e6b0";
}

.icon-iphone-portrait:before {
    content: "\e6b1";
}

.icon-key:before {
    content: "\e6b2";
}

.icon-key-2:before {
    content: "\e6b3";
}

.icon-keyboard:before {
    content: "\e6b4";
}

.icon-lamp:before {
    content: "\e6b5";
}

.icon-library:before {
    content: "\e6b6";
}

.icon-lightning:before {
    content: "\e6b7";
}

.icon-link:before {
    content: "\e6b8";
}

.icon-link-2:before {
    content: "\e6b9";
}

.icon-linkedin:before {
    content: "\e6ba";
}

.icon-list:before {
    content: "\e6bb";
}

.icon-list-2:before {
    content: "\e6bc";
}

.icon-list-3:before {
    content: "\e6bd";
}

.icon-location:before {
    content: "\e6be";
}

.icon-lock-closed:before {
    content: "\e6bf";
}

.icon-lock-open:before {
    content: "\e6c0";
}

.icon-lock-side:before {
    content: "\e6c1";
}

.icon-loop:before {
    content: "\e6c2";
}

.icon-man-figure:before {
    content: "\e6c3";
}

.icon-map:before {
    content: "\e6c4";
}

.icon-map-2:before {
    content: "\e6c5";
}

.icon-medal:before {
    content: "\e6c6";
}

.icon-menu:before {
    content: "\e6c7";
}

.icon-menu-2:before {
    content: "\e6c8";
}

.icon-menu-3:before {
    content: "\e6c9";
}

.icon-meter-fast:before {
    content: "\e6ca";
}

.icon-meter-slow:before {
    content: "\e6cb";
}

.icon-meter:before {
    content: "\e6cc";
}

.icon-mic:before {
    content: "\e6cd";
}

.icon-mic-2:before {
    content: "\e6ce";
}

.icon-minus-circle:before {
    content: "\e6cf";
}

.icon-minus-circle-2:before {
    content: "\e6d0";
}

.icon-minus:before {
    content: "\e6d1";
}

.icon-moon:before {
    content: "\e6d2";
}

.icon-mouse:before {
    content: "\e6d3";
}

.icon-multi-ipad-landscape:before {
    content: "\e6d4";
}

.icon-multi-ipad-portrait:before {
    content: "\e6d5";
}

.icon-multi-iphone-landscape:before {
    content: "\e6d6";
}

.icon-multi-iphone-portrait:before {
    content: "\e6d7";
}

.icon-music:before {
    content: "\e6d8";
}

.icon-music-2:before {
    content: "\e6d9";
}

.icon-music-3:before {
    content: "\e6da";
}

.icon-network:before {
    content: "\e6db";
}

.icon-new:before {
    content: "\e6dc";
}

.icon-newspaper:before {
    content: "\e6dd";
}

.icon-number:before {
    content: "\e6de";
}

.icon-number-2:before {
    content: "\e6df";
}

.icon-number-3:before {
    content: "\e6e0";
}

.icon-number-4:before {
    content: "\e6e1";
}

.icon-number-5:before {
    content: "\e6e2";
}

.icon-number-6:before {
    content: "\e6e3";
}

.icon-number-7:before {
    content: "\e6e4";
}

.icon-number-8:before {
    content: "\e6e5";
}

.icon-number-9:before {
    content: "\e6e6";
}

.icon-number-0:before {
    content: "\e6e7";
}

.icon-number-1-1:before {
    content: "\e6e8";
}

.icon-number-1-2:before {
    content: "\e6e9";
}

.icon-number-1-3:before {
    content: "\e6ea";
}

.icon-number-1-4:before {
    content: "\e6eb";
}

.icon-number-1-5:before {
    content: "\e6ec";
}

.icon-number-1-6:before {
    content: "\e6ed";
}

.icon-number-1-7:before {
    content: "\e6ee";
}

.icon-number-1-8:before {
    content: "\e6ef";
}

.icon-number-1-9:before {
    content: "\e6f0";
}

.icon-number-1-0:before {
    content: "\e6f1";
}

.icon-numbered-list:before {
    content: "\e6f2";
}

.icon-office:before {
    content: "\e6f3";
}

.icon-opera:before {
    content: "\e6f4";
}

.icon-paper-plane:before {
    content: "\e6f5";
}

.icon-pause:before {
    content: "\e6f6";
}

.icon-paypal:before {
    content: "\e6f7";
}

.icon-paypal-2:before {
    content: "\e6f8";
}

.icon-pencil:before {
    content: "\e6f9";
}

.icon-pencil-2:before {
    content: "\e6fa";
}

.icon-phone:before {
    content: "\e6fb";
}

.icon-pinterest:before {
    content: "\e6fc";
}

.icon-play:before {
    content: "\e6fd";
}

.icon-play-2:before {
    content: "\e6fe";
}

.icon-plus-circle:before {
    content: "\e6ff";
}

.icon-plus-circle-2:before {
    content: "\e700";
}

.icon-plus:before {
    content: "\e701";
}

.icon-power-cord:before {
    content: "\e702";
}

.icon-print:before {
    content: "\e703";
}

.icon-puzzle:before {
    content: "\e704";
}

.icon-puzzle-2:before {
    content: "\e705";
}

.icon-qrcode:before {
    content: "\e706";
}

.icon-quotes-right-circle:before {
    content: "\e707";
}

.icon-quotes-left-circle:before {
    content: "\e708";
}

.icon-quotes-left:before {
    content: "\e709";
}

.icon-quotes-right:before {
    content: "\e70a";
}

.icon-radio:before {
    content: "\e70b";
}

.icon-reading:before {
    content: "\e70c";
}

.icon-remove:before {
    content: "\e70d";
}

.icon-retweet:before {
    content: "\e70e";
}

.icon-rocket:before {
    content: "\e70f";
}

.icon-safari:before {
    content: "\e710";
}

.icon-safe:before {
    content: "\e711";
}

.icon-scissors:before {
    content: "\e712";
}

.icon-search:before {
    content: "\e713";
}

.icon-settings:before {
    content: "\e714";
}

.icon-shield:before {
    content: "\e715";
}

.icon-skull:before {
    content: "\e716";
}

.icon-skype:before {
    content: "\e717";
}

.icon-soundcloud:before {
    content: "\e718";
}

.icon-soundcloud-2:before {
    content: "\e719";
}

.icon-spinner:before {
    content: "\e71a";
}

.icon-stack-empty:before {
    content: "\e71b";
}

.icon-stack-minus:before {
    content: "\e71c";
}

.icon-stack-plus:before {
    content: "\e71d";
}

.icon-stack-user:before {
    content: "\e71e";
}

.icon-stack:before {
    content: "\e71f";
}

.icon-star:before {
    content: "\e720";
}

.icon-star-2:before {
    content: "\e721";
}

.icon-star-3:before {
    content: "\e722";
}

.icon-starburst:before {
    content: "\e723";
}

.icon-stats-down:before {
    content: "\e724";
}

.icon-stats-up:before {
    content: "\e725";
}

.icon-stop:before {
    content: "\e726";
}

.icon-stopwatch:before {
    content: "\e727";
}

.icon-storage:before {
    content: "\e728";
}

.icon-sun:before {
    content: "\e729";
}

.icon-sun-2:before {
    content: "\e72a";
}

.icon-support:before {
    content: "\e72b";
}

.icon-switch:before {
    content: "\e72c";
}

.icon-tablet:before {
    content: "\e72d";
}

.icon-tag:before {
    content: "\e72e";
}

.icon-tag-2:before {
    content: "\e72f";
}

.icon-target:before {
    content: "\e730";
}

.icon-temperature:before {
    content: "\e731";
}

.icon-thumbs-down:before {
    content: "\e732";
}

.icon-thumbs-up:before {
    content: "\e733";
}

.icon-tools:before {
    content: "\e734";
}

.icon-tree:before {
    content: "\e735";
}

.icon-tree-2:before {
    content: "\e736";
}

.icon-trello:before {
    content: "\e737";
}

.icon-trophy:before {
    content: "\e738";
}

.icon-tv:before {
    content: "\e739";
}

.icon-twitter:before {
    content: "\e73a";
}

.icon-twitter-2:before {
    content: "\e73b";
}

.icon-upload:before {
    content: "\e73c";
}

.icon-user-block:before {
    content: "\e73d";
}

.icon-user-cancel:before {
    content: "\e73e";
}

.icon-user-minus:before {
    content: "\e73f";
}

.icon-user-plus:before {
    content: "\e740";
}

.icon-user:before {
    content: "\e742";
}

.icon-user-2:before {
    content: "\e741";
}

.icon-users:before {
    content: "\e743";
}

.icon-vcard:before {
    content: "\e744";
}

.icon-vimeo:before {
    content: "\e745";
}

.icon-vimeo-2:before {
    content: "\e746";
}

.icon-volume-high:before {
    content: "\e747";
}

.icon-volume-low:before {
    content: "\e748";
}

.icon-volume-medium:before {
    content: "\e749";
}

.icon-volume-mute:before {
    content: "\e74a";
}

.icon-wand:before {
    content: "\e74b";
}

.icon-warning:before {
    content: "\e74c";
}

.icon-warning-2:before {
    content: "\e74d";
}

.icon-windows:before {
    content: "\e74e";
}

.icon-windows8:before {
    content: "\e74f";
}

.icon-wordpress:before {
    content: "\e750";
}

.icon-wordpress-2:before {
    content: "\e751";
}

.icon-wrench:before {
    content: "\e752";
}

.icon-wrench-2:before {
    content: "\e753";
}

.icon-youtube1:before {
    content: "\e756";
}

.icon-youtube-2:before {
    content: "\e757";
}

.icon-arrow-down-left:before {
    content: "\e759";
}

.icon-arrow-down-right:before {
    content: "\e75a";
}

.icon-arrow-down2:before {
    content: "\e75b";
}

.icon-arrow-right2:before {
    content: "\e75c";
}

.icon-arrow-up-left:before {
    content: "\e75d";
}

.icon-arrow-up-left2:before {
    content: "\e75e";
}

.icon-arrow-up-right:before {
    content: "\e75f";
}

.icon-arrow-up2:before {
    content: "\e760";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-coin-dollar:before {
    content: "\e93b";
}

.icon-share2:before {
    content: "\ea82";
}

.icon-mail:before {
    content: "\ea83";
}

